body {
    background-color: #e5e5e5;
    color: #212121;
}
/* основной текст #212121*/
/* вторичный текст #757575*/
/*акцент #FFFFFF*/
/*логотип #2196F3*/

* {
    margin: 0;
    padding: 0;
}
.card {
    width: 370px;
    height: 404px;
    background-color: white;
}

.card__image {
    width: 100%;
    height: 294px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.card__text__conainer {
    padding: 20px;
}
